* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
    list-style-type: none;
    text-decoration: none;
  }



.carousel{
    position: relative;
    height: 550px;
    width: 800px;
    margin: 10px auto ;
}

.carousel__image{
    width: 800px;
    object-fit: cover;
}

.carousel__track-container{
    background-color: lightgreen;
    height: 100%;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.carousel__track{
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel__slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button--left{
    left: -40px;
}

.carousel__button--right{
    right:-40px;
}

.carousel__button .icon{
    font-size: 20px;
}

.carousel__nav{
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel__indicator{
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 50%;
    background: rgb(0,0,0,0.3);
    margin: 0 10px;
    cursor: pointer;
}

.carousel__indicator.current-slide{
    background: rgb(0,0,0,0.75);
}

.is-hidden{
    display: none;
}